<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DS1_backend_tests.Tests" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DS1_backend_tests.Tests>
            <setting name="Environment" serializeAs="String">
                <value>DEV</value>
            </setting>
            <setting name="EnvironmentType" serializeAs="String">
                <value>APIM</value>
            </setting>
        </DS1_backend_tests.Tests>
    </userSettings>
</configuration>